@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Post Title</h2>
        <h6>Author</h6>
        <p>Body contet here...</p>
    </div>
</div>
